:root {
    --color-white: #f1f3fe;
    --color-blue: #141c3a;
    --color-gray: #828285;
    --color-yellow: #ffd500;
    --color-green:#64edbe;
    --color-purple: #6400e4;
    --color-dark: #10162f;
  }
  
body {
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--main-gray);
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--main-gray);
}

li {
    list-style: none;
}

/* Nav section */
#navbar {
  background-color: var(--color-blue);
  width: 100%;
  position: fixed;
  z-index: 50;
}

.nav-list {
  margin: 0;
  padding: 0;
}

/* The sidepanel menu */
.sidepanel {
  height: 100vh; 
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; 
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: var(--color-blue); 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; 
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 30px;
  text-decoration: none;
  font-size: 25px;
  color: var(--color-white);
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button*/
.sidepanel .closebtn {
  position: absolute;
  top: 5px;
  left: 2px;
  padding-left: 18px;
  font-size: 25px;
}

/* Style the open button*/
.openbtn {
  font-size: 25px;
  cursor: pointer;
  background-color: var(--color-blue);
  color: white;
  padding: 10px 15px;
  border: none;
}


/* Welcome section */

.welcome-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    text-align: initial; 
    background-color: var(--color-white);
  }

.name {
  position: absolute;
  top: 35%;
  right: 12%
}

h1 {
    font-weight: 800;
    margin: 0px;
    padding: 5px;
    font-size: 2em;
    color: #fff;
    background-color: var(--color-purple);
    border: solid 1px;
    border-color: var(--color-dark);
    padding-bottom: 20px;
}

h3 {
  margin: 0;
  margin-left: 50px;
  background-color: var(--color-white);
  z-index: 1;
  position: relative;
  top: -11px;
  left: 10px;
  border: 1px solid;
  padding: 10px 5px;
}

.fa-mug-hot {
  padding: 0 5px;
}

/* About section */
.about-section {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
}
.foto-perfil {
  display: flex;
  justify-content: center;
  margin: 70px 10px 20px;
}

.foto-perfil img {
  width: 220px;
  height: 255px;
  border: solid 1px;
  padding: 3px;
}

.description {
  border: solid 1px;
  height: fit-content;
  margin: 0px 15px 20px;
}
.description h3 {
  width: fit-content;
  position: relative;
  left: 20px;
 
}
.description p {
  text-align: initial;
  margin: 0;
  padding: 7px 15px;
}

/* Projects section */

.projects-section {
    text-align: center;
    padding: 40px 50px 58px;
    background: var(--color-purple);
}

.projects-section h2 {
  margin-bottom: 35px;
  color: var(--color-dark);
  border: solid 2px;
  padding: 4px;
  background-color: var(--color-green);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 30px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.project-tile {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-blue);
    border: solid 2px;
    border-color: var(--color-blue);
}

img {
    display: block;
    width: 100%;
  }

  .code {
    color: var(--color-white);
    transition: color 0.3s ease-out;
  }

  .project:hover .code {
    color: var(--main-green);
    font-weight: 400;
  }

  .project {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  .project-title {
    font-size: 1.3em;
    padding: 12px 5px;
    margin: 0;
  }

 /* Skills section */
  .skills-section {
    height: 100vh;
    padding: 45px 50px 10px;
    background-color: var(--color-blue);
  }
  .skills-section h2 {
    color: var(--color-white);
    padding: 6px 0 6px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    border: groove;
    border-color: var(--color-dark);
    background-color: var(--color-purple);
  }

  .skills-container {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    
  }
  
  .skills-cart {
    border: solid 2px;
    margin-bottom: 20px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 8px var(--color-gray);

  }
  .skills-cart h4 {
    margin: 0 0 10px;
    padding-left: 16px;
  }

  .skills-cart ul {
    overflow: hidden;
    padding-left: 15px;
  }

  .skills-cart li {
    padding: 5px 10px;
    display: block;
    float: left;
  }

  .fab {
    padding-right: 5px;
  }
  
  /* Contact section */

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90vh;
    background-color: var(--color-blue);
    color: var(--color-white);
  }
  .contact-container {
    padding: 50px 0px;
  }
  .contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
    padding: 0;

}

.contact-list a {
    display: block;
    padding: 10px 20px;
    letter-spacing: 2px;
}

  .contact-details {
    font-size: 1.2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    padding: 15px;
  }

  .contact-details i {
      padding-right: 5px;
      color: var(--main-yellow);
  }

  .contact-details:hover {
    transform: translateY(8px);
  }

  footer {
    height: 10vh;
    background-color: var(--color-blue);
    text-align: center;
    color: var(--color-white);
    letter-spacing: normal;
  }

  footer p {
      margin: 0;
      font-style: italic;
      text-align: center;
      padding: 10px;
      font-size: 12px;
  }
  

  @media (min-width: 768px) {
    .name {
      position: absolute;
      top: 35%;
      right: 30%
    }
    
    .sidepanel {
    background-image: linear-gradient(90deg, #10162f, #10162f87);
    background-color: transparent;
    }

    .projects-section h2{
      margin: 35px 80px;
    }

    .projects-grid {
      grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
    }

    .skills-section h2 {
      margin: 35px 150px;
    }

    .skills-cart {
      margin: 10px 60px;
    }
    .contact-container {
      padding: 25px 0px 50px;
    }
    .contact-container h2 {
      margin: 50px 0px;
    }

  }

  @media (min-width: 1024px) {
    /* Nav section */
    #navbar {
      height: 70px;
    }
    .nav-list {
      padding:10px;
    }

    /* The sidepanel menu */
    .openbtn, .sidepanel .closebtn {
      font-size: 30px;
    }
    .sidepanel .closebtn {
      top: 15px;
      left: 8px;
    }
    .sidepanel li {
      padding: 15px 0px;
    }
    /* Welcome section */
    .name {
      width: 474px;
      right: 35%;
    }
    .name h1 {
      font-size: 3em;
    }
    .name h3 {
      font-size: 22px;
    }
    
    /* About section */
    .about-section {
      height: 100vh;
      flex-direction: row;
      padding:50px;
    }
    .foto-perfil img {
      width: 280px;
      height: 320px;
    }
    .description {
      margin: 80px 10px 20px;
      border: solid 1px;
      height: fit-content;
    
    }

    .description p {
      text-align: initial;
      margin: 0;
      padding: 10px;
    }
    

    /* Porjects section */

    .projects-section {
      padding-top: 70px;
    }

    .projects-section h2, .skills-section h2 {
      margin: 35px 25%;
    }

      /* Skills section */

      .skills-cart {
        margin: 30px 17%;
      }

  }

