:root {
    --main-white: #E5E5E5;
    --main-blue: #14213D;
    --main-gray: #333;
    --main-yellow: #FCA311;
  }
  
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--main-white);
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--main-white);
}

li {
    list-style: none;
}

/* Nav section */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(180deg
, rgba(51,51,51,1) 20%, rgba(51,51,51,0.1) 100%);
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
}

.nav-list li {
    text-transform: capitalize;
    font-weight: 400;
    
}

.nav-list a {
    display: block;
    padding: 15px 20px;
    letter-spacing: 2px;
    
}

.nav-list a:hover{
    color: var(--main-yellow);
    
}

hr {
  margin: 1px;
  
}

/* Welcome section */

.welcome-section {
    display: flex;
    flex-direction: row;
    height: 100vh;
    text-align: initial; 
    background-color: #000;
    background-image: linear-gradient(360deg, #14213D 30%, #333 100%);
}

.foto-perfil{
  width: 40%;
  padding-top: 160px;
}
.foto-perfil img{
  width: 50%;
  margin-left: auto;
  border-radius: 50%;
}

.description {
  width: 60%;
  margin: 0px 0 0 40px;
  padding-top: 160px;
}

h1 {
    font-weight: 800;
    margin: 0px 5px 0px 5px;
    font-size: 2em;
    color: var(--main-yellow);
}

h3 {
  margin: 0;
    padding-left: 50px;
}

.welcome-section p {
    margin: 0;
    font-style: italic;
    font-size: 1em;
    color: var(--main-white);
    padding: 5px 100px 5px 50px;
  }

/* Projects section */

.projects-section {
    text-align: center;
    padding: 58px 50px;
    background: var(--main-blue);
}

.projects-section h2 {
  margin-bottom: 50px;
  color: var(--main-yellow);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 30px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.project-tile {
    text-decoration: none;
    color: var(--main-yellow);
}

img {
    display: block;
    width: 100%;
  }

  .code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }

  .project:hover .code {
    color: var(--main-yellow);
  }

  .project {
    background: var(--main-gray);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }

  .project-title {
    font-size: 1.3em;
    padding: 12px 5px;
    margin: 0;
  }


  /* Contact section */

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90vh;
    background: var(--main-gray);
  }

  .contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
    padding: 0;

}

.contact-list a {
    display: block;
    padding: 10px 20px;
    letter-spacing: 2px;
}

  .contact-details {
    font-size: 1.2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    padding: 15px;
  }

  .contact-details i {
      padding-right: 5px;
      color: var(--main-yellow);
  }

  .contact-details:hover {
    transform: translateY(8px);
  }

  footer {
    height: 10vh;
    background-color: gray;
    text-align: center;
  }

  footer p {
      margin: 0;
      font-style: italic;
  }
  

  @media (max-width:760px) {
    .welcome-section {
      flex-direction: column;
    }

    .description {
      width: 100%;
      text-align: center;
      margin: 0;
    }

    .description h3, .description p{
      padding: 5px 50px 5px 50px;
    }
  }